*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}
img {
  max-width: 100%;
  height: auto;
}
.header {
  background: #3030C1;
  padding: 0 9% 75px 9%;

}

.header__logo {
  padding-top: 60px;
}

.firstsection {
  background-color: #3030C1;
  background-image: url('img/JPG1.svg');
  background-repeat: no-repeat;
  background-position: right 130px top;
  padding: 0 9% 240px 9%;

}
.firstsection__title {
  width: 53%;
  margin: 0 0 33px 0;
  padding-top: 54px;
  font: 800 45px/55px Gilroy, sans-serif;
  color: #FFF;
}
.firstsection__title-small {
  font: 800 30px/36px Gilroy, sans-serif;
  color: #FFCC33;
  margin: 0 0 14px 0;
  width: 33%;
}
.firstsection__text {
  font: 300 20px/23px Gilroy, sans-serif;
  color: #FFF;
  width: 43%;
  margin: 0 0 30px 0;
}
.firstsection__button {
  display: inline-block;
  font: 900 20px/24px montserrat;
  padding: 15px 23px;
  color: #3030C1;
  background: #FFCC33;
  text-decoration: none;
  transition: opacity .5s;
}
.firstsection__button:hover {
  opacity: .5;
}
.secondsection {
  padding: 0 9% 50px 9%;
}
.secondsection__title,
.secondsection__title-one {
  font: 800 40px/49px Gilroy, sans-serif;
  color: #3A3A3A;
  text-align: center;
  margin: 0 0 30px 0;
  padding-top: 55px;
}
.secondsection__block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.secondsection__block-icon {
  background: #FBFBFB;
  box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.25);
  width: 32%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    transition: opacity .5s;
}
.secondsection__block-icon:hover {
  opacity: .7;
}
.secondsection__block-img {
  padding-top: 50px;
  padding-right: 10px;
}
.secondsection__block-titlesmall {
  font: 800 30px/37px Gilroy, sans-serif;
  color: #3030C1;
  text-align: center;
  margin: 0;
  padding-right: 15px;
}
.secondsection__block-text {
  font: 800 20px/25px Gilroy, sans-serif;
  color: #3A3A3A;
  margin: 0;
  text-align: center;
  padding: 0 60px 65px 50px;
}
.secondsection__block-imgA {
  padding-top: 50px;
  padding-left: 3px;
}
.secondsection__block-titlesmallA {
  font: 800 30px/37px Gilroy, sans-serif;
  color: #3030C1;
  text-align: center;
  margin: 0;
}
.secondsection__block-textA {
  font: 800 20px/25px Gilroy, sans-serif;
  color: #3A3A3A;
  margin: 0;
  text-align: center;
  padding: 0 50px 45px 50px;
}
.secondsection__block-imgB {
  padding-top: 47px;
  padding-left: 15px;
}
.secondsection__block-titlesmallB {
  font: 800 30px/37px Gilroy, sans-serif;
  color: #3030C1;
  text-align: center;
  margin: 0;
  padding-left: 20px;
}
.secondsection__block-textB {
  font: 800 20px/25px Gilroy, sans-serif;
  color: #3A3A3A;
  margin: 0;
  text-align: center;
  padding: 0 40px 65px 55px;
}
.secondsection__text {
  font: 300 30px/35px Gilroy, sans-serif;
  text-align: center;
  color: #3A3A3A;
  padding-left: 20px;
}
.thirdsection {
  padding: 47px 9% 50px 9%;
  background: #F0FBFF;
}
.thirdsection__title {
  margin: 0 0 50px 0;
  font: 800 40px/49px Gilroy, sans-serif;
  color: #3A3A3A;
  text-align: center;
}
.thirdsection__form {
  display: flex;
  justify-content: center;
}
.thirdsection__input {
  width: 380px;
  padding: 28px;
  margin: 10px 10px 30px 10px;
  border: 0;
}
input::placeholder {
  font: 300 20px/32px Gilroy, sans-serif;
}
.thirdsection__button {
  display: flex;
  justify-content: center;
  padding-top: 45px;
  transition: opacity .5s;
}
.thirdsection__button:hover {
  opacity: .5;
}
.thirdsection__button-btn {
  display: inline-block;
  background: #FFDA45;
  font: 900 20px/24px montserrat;
  color: #000000;
  text-decoration: none;
  padding: 28px 110px;
}
.footer {
  background: #00008B;
  padding: 0 9% 70px 9%;
}
.footer__text {
  font: 400 14px/17px Roboto;
  color: #FFFFFF;
  padding-top: 73px;
  margin: 0;
}